.selector_container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.selector_container-left, .selector_container-right {
  flex: 1;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.selector_container-right {
  margin-left: 10px;
  margin-right: 0;
}

.selector_list {
  height: 300px;
  overflow-y: scroll;
}

.selector_list::-webkit-scrollbar {
  width: 5px;
}

.selector_list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.selector_list::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.selector_list-filter {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.selector_list-filter input {
  width: 100%;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  transition: border 0.3s ease;
}

.selector_list-filter input:focus {
  border-color: #007BFF;
  outline: none;
}

.selector_list-item {
  cursor: pointer;
}

.selector_list-item:hover {
  background-color: #f7f7f7;
}

.selector_list-item-selected {
  background-color: #e0e0e0;
}

.selector_list-buttons {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.selector_list-button-selections, .selector_list-button-all {
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  height: 44px;
}

.selector_list-button-selections:hover, .selector_list-button-all:hover {
  background-color: #0056b3;
}

.selector_list-button-selections:disabled, .selector_list-button-all:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.selector_list-empty {
  padding: 21px;
  border-bottom: 1px solid #eee;
  display: flex;
}
.selector_list-item div, .selector_list-item-selected div {
  display: flex;
  align-items: center;
}
